accelerate==0.18.0
flax==0.6.9
huggingface_hub==0.13.4
importlib_metadata==4.11.3
jax==0.4.8
k_diffusion==0.0.14
librosa==0.10.0.post2
msgpack_python==0.5.6
numpy==1.22.4
omegaconf==2.3.0
onnxruntime==1.14.1
open_clip_torch==2.16.2
opencv_python==4.7.0.72
packaging==21.3
pandas==1.4.2
Pillow==9.5.0
psutil==5.8.0
pyspng==0.1.1
pytest==7.1.1
pytorch_fid==0.3.0
pytorch_lightning==2.0.1.post0
requests==2.27.1
safetensors==0.3.0
scipy==1.10.1
torch==1.12.1
torchvision==0.13.1
tqdm==4.64.0
transformers==4.28.1
